.page-title {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 1.5rem;
}

.actions {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}

.backbutton {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
}


.creator-detail {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 2rem;
}

@media (max-width: 768px) {
    .creator-detail {
        grid-template-columns: 1fr;
    }
}
